<nav>
    <div class="hidden lg:block light"></div>
    <div class="lg:mx-auto lg:mt-5 lg:mb-20 w-full lg:w-10/12">
        <div class="hidden md:flex w-11/12 mx-auto flex justify-center items-center">
            <img onclick="location.href='/'" class="cursor-pointer rounded-full duration-300 drop-show-md h-10"
                src="/public/imgs/logo.png">
            <div class="font-body flex text-xl flex-grow ml-5 mt-2">
                <a class="ease-out duration-300 text-white hover:text-gray-300 mr-3" target="_blank" href="/contact"><i
                        class="fa-brands fa-discord"></i>&nbsp;Contact</a>
                <a class="ease-out flex duration-300 items-center font-semibold hover:text-gray-300 mr-3"
                    href="/wiki"><img class="h-5" src="/public/imgs/transparentlogo.png">&nbsp;Wiki</a>
                    <a class="ease-out flex duration-300 items-center font-semibold hover:text-gray-300 mr-3"
                    href="/casino"><img class="h-5" src="/public/imgs/bluecoins.png">&nbsp;Casino</a>
                <a class="ease-out flex items-center duration-300 font-semibold hover:text-gray-300 mr-3"
                    href="/team"><img class="h-5" src="/public/imgs/shape-941-copy-2.png">&nbsp;SS Team</a>
                <a class="ease-out duration-300 text-primary-600 font-semibold hover:text-gray-300 mr-3"
                    href="/pricing"><i class="fa-solid fa-money-bill"></i>&nbsp;Surf Dude Shop</a>
            </div>
            <div class="flex justify-end ml-auto inline-block m-4">
                <img onclick="location.href='/play'"
                    class="cursor-pointer rounded-full duration-300 drop-show-md h-12 hover:opacity-90 hover:scale-105"
                    src="/public/imgs/button0002.png">
            </div>
        </div>
        <div class="flex">
            <div class="md:hidden mt-5 mb-3 ml-6">
                <button
                    class="ease-out duration-300 outline-none mobile-menu-button text-3xl text-white hover:text-gray-400"><i
                        class="fas fa-bars"></i></button>
            </div>
            <div class="md:hidden ml-auto flex justify-end inline-block m-4">

                <img onclick="location.href='/play'"
                    class="cursor-pointer rounded-full duration-300 drop-show-md h-12 hover:opacity-90 hover:scale-105"
                    src="/public/imgs/button0002.png">

            </div>
        </div>
        <div class="ease-in duration-300 hidden mobile-menu md:hidden">
            <ul>
                <li><a href="/"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold">Home</a>
                </li>
                <li><a href="/contact" target="_blank"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold"><i
                            class="fa-brands fa-discord"></i>&nbsp;Contact</a>
                </li>
                <li><a href="/wiki"
                        class="ease-out duration-300 items-center flex block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold"><img
                            class="h-5" src="/public/imgs/transparentlogo.png">&nbsp;Wiki</a>
                </li>
                <li><a href="/casino"
                class="ease-out duration-300 items-center flex block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold"><img
                    class="h-5" src="/public/imgs/bluecoins.png">&nbsp;Casino</a>
        </li>
                <li><a href="/team"
                        class="ease-out duration-300 flex block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold"><img
                            class="h-5" src="/public/imgs/shape-941-copy-2.png">&nbsp;SS Team</a>
                </li>
                <li><a href="/pricing"
                        class="ease-out duration-300 block text-sm py-4 ml-6 text-white hover:text-gray-300 font-semibold"><i
                            class="fa-solid fa-money-bill"></i>&nbsp;Surf Dude Shop</a>
                </li>
            </ul>
        </div>
    </div>
</nav>