<!DOCTYPE html>
<html>

<head>
    {% render 'partials/header.liquid', client: client, user: user %}
</head>

<body class="bg-primary-100 font-body text-white">
    {% render 'partials/navbar.liquid', client: client, user: user %}
    <div class="w-10/12 mx-auto">
        <div class="flex flex-wrap justify-center mt-10">
            <img class=" mr-2 duration-300 drop-show-md md:h-24 hover:opacity-90 hover:scale-105"
                src="/public/imgs/Symbol-10.png" />
        </div>
        <div class="mx-auto md:w-8/12 justify-center md:flex flex-wrap my-24">
            <div
                class="bg-primary-200 w-96 bg-contain bg-no-repeat bg-center bg-[url('./public/imgs/logo.png')] shadow-md rounded-lg border-2 border-dashed border-primary-400 m-2 md:m-8">
                <div class="backdrop-blur-sm">
                    <div class="flex flex-wrap justify-center mt-3 mb-1">
                        <p onclick="window.open('https://www.facebook.com/@sticksurfpage/')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-facebook"></i></p>
                        <p onclick="window.open('https://discord.com/users/1134556446336483340')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-discord"></i></p>
                    </div>
                    <div class="flex px-10 pb-5">
                        <img class="mr-2 duration-300 rounded-full drop-show-md h-24 hover:opacity-90 hover:scale-105"
                            src="/public/imgs/m1.gif" />
                        <div class="mt-5 ml-2">
                            <p class="text-2xl font-semibold">Matt</p>
                            <div class="flex">
                                <img class="duration-300 drop-show-md mr-2 h-6 hover:opacity-90 hover:scale-105"
                                    src="/public/imgs/shape-941-copy-2.png" />
                                <p class="text-red-600 font-bold">Owner, Leader</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="bg-primary-200 w-96 bg-contain bg-no-repeat bg-center bg-[url('./public/imgs/logo.png')] shadow-md rounded-lg border-2 border-dashed border-primary-400 m-2 md:m-8">
                <div class="backdrop-blur-sm">
                    <div class="flex flex-wrap justify-center mt-3 mb-1">
                        <p onclick="window.open('https://discord.com/users/1131048180172210178')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-discord"></i></p>
                    </div>
                    <div class="flex px-10 pb-5">
                        <img class="mr-2 duration-300 rounded-full w-24 drop-show-md h-24 hover:opacity-90 hover:scale-105"
                            src="/public/imgs/kota.png" />
                        <div class="mt-5 ml-2">
                            <p class="text-2xl font-semibold">Kota</p>
                            <div class="flex">
                                <img class="duration-300 drop-show-md mr-2 h-6 hover:opacity-90 hover:scale-105"
                                    src="/public/imgs/shape-941-copy-2.png" />
                                <p class="text-primary-600 text-gray-400 font-bold">Game Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div
                class="bg-primary-200 w-96 bg-contain bg-no-repeat bg-center bg-[url('./public/imgs/logo.png')] shadow-md rounded-lg border-2 border-dashed border-primary-400 m-2 md:m-8">
                <div class="backdrop-blur-sm">
                    <div class="flex flex-wrap justify-center mt-3 mb-1">
                        <p onclick="window.open('https://github.com/DexterTheDev')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-github"></i></p>
                        <p onclick="window.open('https://discord.com/users/780079091172900884')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-discord"></i></p>
                    </div>
                    <div class="flex px-10 pb-5">
                        <img class="mr-2 duration-300 rounded-full drop-show-md h-24 hover:opacity-90 hover:scale-105"
                            src="/public/imgs/dexter.png" />
                        <div class="mt-5 ml-2">
                            <p class="text-2xl font-semibold">Dexter</p>
                            <div class="flex">
                                <img class="duration-300 drop-show-md mr-2 h-6 hover:opacity-90 hover:scale-105"
                                    src="/public/imgs/shape-941-copy-2.png" />
                                <p class="text-gray-200 font-bold">Tech & Web Dev</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div
                class="bg-primary-200 w-96 bg-contain bg-no-repeat bg-center bg-[url('./public/imgs/logo.png')] shadow-md rounded-lg border-2 border-dashed border-primary-400 m-2 md:m-8">
                <div class="backdrop-blur-sm">
                    <div class="flex flex-wrap justify-center mt-3 mb-1">
                        <p onclick="window.open('https://steamcommunity.com/id/jxmie1/')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-steam"></i></p>
                        <p onclick="window.open('https://discord.com/users/439145412180443149')"
                            class="cursor-pointer duration-300 drop-show-md mr-2 text-xl hover:opacity-90 hover:scale-105">
                            <i class="fa-brands fa-discord"></i></p>
                    </div>
                    <div class="flex px-10 pb-5">
                        <img class="mr-2 duration-300 rounded-full drop-show-md h-24 hover:opacity-90 hover:scale-105"
                            src="/public/imgs/jxmie.png" />
                        <div class="mt-5 ml-2">
                            <p class="text-2xl font-semibold">Jxmie</p>
                            <div class="flex">
                                <img class="duration-300 drop-show-md mr-2 h-6 hover:opacity-90 hover:scale-105"
                                    src="/public/imgs/shape-941-copy-2.png" />
                                <p class="text-gray-200 font-bold">Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        {% render 'partials/footer.liquid' %}
    </footer>
</body>

</html>